@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&display=swap');
@import 'tailwindcss';

@theme {
  --color-primary: #e6e1d6;
  --color-secondary: #b88987;
  --color-tertiary: #f4f1de;
  --color-accent: #cfacad;
  --color-order: #bfbfbf;
  --color-option: #444444;

  --font-primary: 'Roboto', sans-serif;
}

@layer base {
  *,
  *::before,
  *::after {
    @apply font-primary m-0 box-border p-0;
  }

  a {
    @apply no-underline;
  }

  img {
    @apply block max-w-full;
  }
}
