@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import 'tailwindcss';

@theme {
  --color-primary: #e6e1d6;
  --color-secondary: #b88987;
  --color-tertiary: #f4f1de;

  --font-primary: 'Roboto', sans-serif;
}
